body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
  }
  
  .login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg, #6b73ff, #000dff); */
  }
  
  .login-box {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  
  .login-box h2 {
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }
  
  .input-box {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-box input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
  }
  
  .input-box input:focus {
    border-color: #6b73ff;
    outline: none;
  }
  
  .button-box {
    margin-top: 20px;
  }
  
  .login-btn {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #6b73ff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-btn:hover {
    background-color: #000dff;
  }
  