<div class="code-container">
  <div class="code-box">
    <h2>Enter Test Code</h2>
    <p class="instruction">
      Vui lòng nhập mã code do nhà tuyển dụng cung cấp để bắt đầu làm bài test.
      Nếu bạn không có mã code, vui lòng liên hệ với nhà tuyển dụng để được hỗ trợ.
    </p>
    <form (ngSubmit)="onSubmitCode()">
      <div class="input-box">
        <input type="text" name="testCode" required [(ngModel)]="testCode" placeholder="Enter your test code" />
      </div>
      <br>
      <div class="button-box">
        <button type="submit" class="submit-btn">Submit Code</button>
      </div>
    </form>
  </div>
</div>
<p-toast></p-toast>