   <!-- contact map -->
   <div class="gmap">
    <div class="container-fluid">
        <div class="full__map">
            <iframe height="600" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=reacthemes+(reacthemes)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
        </div>
        
    </div>
</div>
<!-- contact map end -->

<!-- contact method -->
<div class="rts__section is__half__section ">
    <div class="container">
        <div class="row justify-content-center g-0 is__no__border rounded-3 shadow-rt-sm bg-white">
            <div class="col-lg-4 col-md-6">
                <div class="rts__workprocess__box is__contact ">
                    <div class="rts__icon">
                        <img src="assets/img/icon/location.svg" alt="">
                    </div>
                    <span class="process__title h6 d-block">Location Here</span>
                    <p class="fw-medium">71-75 Shelton Street, London, Greater London, United Kingdom
                    </p>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="rts__workprocess__box is__contact ">
                    <div class="rts__icon">
                        <img src="assets/img/icon/mail.svg" alt="">
                    </div>
                    <span class="process__title h6 d-block">Email Here</span>
                    <a class="text-para fw-medium" href="mailto:2R0Z9@example.com">2R0Z9@example.com</a>
                    <a class="text-para fw-medium" href="mailto:2R0Z9@example.com">2R0Z9@example.com</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="rts__workprocess__box is__contact ">
                    <div class="rts__icon">
                        <img src="assets/img/icon/phone.svg" alt="">
                    </div>
                    <span class="process__title h6 d-block">Call Here</span>
                   <a class="fw-medium text-para d-block" href="tel:+44-20-7328-4499">+44-20-7328-4499</a>
                   <a class="fw-medium text-para" href="tel:+44-20-7328-4499">+44-20-7328-4499</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact method end -->

<!-- contact form -->
<div class="rts__section section__padding">
    <div class="container">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 pe-5">
                <div class="contact__image">
                    <figure>
                        <img src="assets/img/pages/contact.webp" alt="">
                    </figure>
                </div>
            </div>
            <div class="col-lg-6 ">
                <span class="h4 fw-normal"><strong class="fw-bold">Love to hear from you</strong>
                    <br>
                    Get in touch!
                </span>
                <div class="job__contact is__contact mt-30">
                    <form action="contact-2.html#" class="d-flex flex-column gap-4">
                        <div class="search__item">
                            <label for="name" class="mb-4 font-20 fw-medium text-dark text-capitalize">Name</label>
                            <div class="position-relative">
                                <input type="text" id="name" placeholder="Your Name" required name="name"  [(ngModel)]="name" >
                                <i class="fa-light fa-user"></i>
                            </div>
                        </div>
                        <div class="search__item">
                            <label for="cemail" class="mb-4 font-20 fw-medium text-dark text-capitalize">Your Email</label>
                            <div class="position-relative">
                                <input type="email" id="cemail" placeholder="Enter your email" name="email" required  [(ngModel)]="email">
                                <i class="rt-mailbox"></i>
                            </div>
                        </div>
                        <div class="search__item">
                            <label class="mb-4 font-20 fw-medium text-dark text-capitalize" for="message">Your Comment</label>
                            <textarea name="message" id="message" placeholder="Message"  [(ngModel)]="msg"></textarea>
                            <i class="fa-thin fa-comment-lines"></i>
                        </div>
                        <button (click)="send()" type="submit" class="rts__btn fill__btn be-1 w-100 rounded-1 apply__btn">
                            Send Message
                        </button>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
 </div>
<!-- contact form end -->

<!-- app center -->

<div class="rts__section pb-120">
    <div class="container">
        <div class="row">
            <div class="rts__appcenter">
                <div class="rts__appcenter__shape">
                    <img src="assets/img/home-1/app/shape.png" alt="">
                </div>
                <div class="rts__appcenter__content d-flex flex-wrap flex-xl-nowrap align-items-center justify-content-between justify-content-lg-center">
                    <div class="content__left align-items-end d-flex position-relative top-15px">
                        <img src="assets/img/home-1/app/app_screen.png" alt="">
                    </div>
                    <div class="content__right text-white text-center text-xl-start max-630">
                        <h3 class="l--1 mb-4 text-white wow animated fadeInUp" data-wow-delay=".1s ">Download The app Free!</h3>
                        <p class="wow animated fadeInUp" data-wow-delay=".2s">Looking for a new job can be both exciting and daunting. Navigating the job market involves exploring various avenues.</p>
                        <div class="d-flex gap-3 justify-content-center justify-content-xl-start flex-wrap mt-40 wow animated fadeInUp" data-wow-delay=".3s">
                            <div class="link">
                                <a href="https://appstore.com" target="_blank" title="app store">
                                    <img src="assets/img/home-1/app/app-store.svg" alt="">
                                </a>
                            </div>
                            <div class="link">
                                <a href="https://google.com" target="_blank" title="play store">
                                    <img src="assets/img/home-1/app/play-store.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<!-- app center end -->

<p-toast></p-toast>
