<div class="card card-body py-3">
  <div class="row align-items-center">
    <div class="col-12">
      <div class="d-sm-flex align-items-center justify-space-between">
        <h4 class="mb-4 mb-sm-0 card-title">
          Thông tin của tài khoản
          <strong class="text-primary">{{ user.username }}</strong>
        </h4>
        <nav aria-label="breadcrumb" class="ms-auto">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
              <span class="badge fw-medium fs-2" [ngClass]="{
    'bg-danger-subtle text-danger': user.status === 0,
    'bg-success-subtle text-success': user.status === 1
  }">
                {{ user.status === 0 ? 'Không hoạt động' : 'Hoạt động' }}
              </span>

            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <ul class="nav nav-pills user-profile-tab" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link position-relative rounded-0 active d-flex align-items-center justify-content-center bg-transparent fs-3 py-3"
        id="pills-account-tab" data-bs-toggle="pill" data-bs-target="#pills-account" type="button" role="tab"
        aria-controls="pills-account" aria-selected="true">
        <i class="fa-solid fa-user me-2 fs-6"></i>
        <span class="d-none d-md-block">Tài khoản</span>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-3"
        id="pills-notifications-tab" data-bs-toggle="pill" data-bs-target="#pills-notifications" type="button"
        role="tab" aria-controls="pills-notifications" aria-selected="false">
        <i class="fa-solid fa-clock-rotate-left me-2 fs-6"></i>
        <span class="d-none d-md-block">Lịch sử ứng tuyển</span>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-3"
        id="pills-bills-tab" data-bs-toggle="pill" data-bs-target="#pills-bills" type="button" role="tab"
        aria-controls="pills-bills" aria-selected="false">
        <i class="fa-solid fa-money-bill me-2 fs-6"></i>
        <span class="d-none d-md-block">Gói dịch vụ</span>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-3"
        id="pills-security-tab" data-bs-toggle="pill" data-bs-target="#pills-security" type="button" role="tab"
        aria-controls="pills-security" aria-selected="false">
        <i class="ti ti-lock me-2 fs-6"></i>
        <span class="d-none d-md-block">Security</span>
      </button>
    </li>
  </ul>
  <div class="card-body">
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab"
        tabindex="0">
        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card w-100 border position-relative overflow-hidden">
              <div class="card-body p-4">
                <h4 class="card-title">Ảnh đại diện</h4>
                <div class="text-center">
                  <!-- <img src="../assets/images/profile/user-1.jpg" alt="matdash-img" class="img-fluid rounded-circle"
                        width="300" height="300"> -->
                  <!-- <div class="d-flex align-items-center justify-content-center my-4 gap-6">
                        <button class="btn btn-primary">Upload</button>
                        <button class="btn bg-danger-subtle text-danger">Reset</button>
                      </div>
                      <p class="mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p> -->
                      <img
                      *ngIf="avatarUrl"
                      [src]="avatarUrl"
                      alt="avatar"
                      width="140"
                      height="140"
                      class="rounded-circle"
                    />

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="card w-100 border position-relative overflow-hidden">
              <div class="card-body p-4">
                <h4 class="card-title">Thông tin sơ bộ</h4>
                <form>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Tên tài khoản</label>
                    <!-- <input type="password" class="form-control" id="exampleInputPassword1" value="12345678910"> -->
                    <input type="text" class="form-control" id="exampleInputPassword1" value="{{user.username}}">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label">Ngày tạo tài khoản</label>
                    <!-- <input type="password" class="form-control" id="exampleInputPassword2" value="12345678910"> -->
                    <input type="text" class="form-control" id="exampleInputPassword1" value="{{user.created}}">
                  </div>
                  <div>
                    <label for="exampleInputPassword3" class="form-label">Vai trò</label>
                    <!-- <input type="password" class="form-control" id="exampleInputPassword3" value="12345678910"> -->
                    <input type="text" class="form-control" id="exampleInputPassword1"
                      [value]="user.userType === 1 ? 'Người tìm việc' : (user.userType === 2 ? 'Nhà tuyển dụng' : 'Khách hàng')"
                      readonly />

                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card w-100 border position-relative overflow-hidden mb-0">
              <div class="card-body p-4">
                <h4 class="card-title">Thông tin chi tiết</h4>
                <form>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="exampleInputtext" class="form-label">Họ và tên</label>
                        <input type="text" class="form-control" id="exampleInputtext" placeholder="{{seeker.fullName}}">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputtext1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleInputtext1" placeholder="{{user.email}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="exampleInputtext2" class="form-label">Giới tính</label>
                        <input type="text" class="form-control" id="exampleInputtext2" placeholder="{{seeker.gender}}">
                      </div>
                      <!-- <div class="mb-3">
                            <label class="form-label">Currency</label>
                            <select class="form-select" aria-label="Default select example">
                              <option selected>India (INR)</option>
                              <option value="1">US Dollar ($)</option>
                              <option value="2">United Kingdom (Pound)</option>
                              <option value="3">India (INR)</option>
                              <option value="3">Russia (Ruble)</option>
                            </select>
                          </div> -->
                      <div class="mb-3">
                        <label for="exampleInputtext3" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" id="exampleInputtext3" placeholder="{{seeker.phone}}">
                      </div>
                    </div>
                    <div class="col-12">
                      <div>
                        <label for="exampleInputtext4" class="form-label">Địa chỉ</label>
                        <input type="text" class="form-control" id="exampleInputtext4" placeholder="{{seeker.address}}">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-notifications" role="tabpanel" aria-labelledby="pills-notifications-tab"
        tabindex="0">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="table-responsive border rounded">
              <table class="table align-middle text-nowrap mb-0">
                <thead>
                  <tr>
                    <th scope="col">Công việc ứng tuyển</th>
                    <th scope="col">Tên công ty</th>
                    <th scope="col">Thời gian ứng tuyển</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Trạng thái</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let application of applications">
                    <td>
                      <div class="d-flex align-items-center">
                        <img *ngIf="application.avatar" [src]="application.avatar" class="rounded-circle" alt="user-img" width="56"
                          height="56">
                        <div class="ms-3">
                          <h6 class="fw-semibold mb-0 fs-4">{{ application.jobTitle }}</h6>
                          <p class="mb-0">{{ application.workType }}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="mb-0">{{ application.companyName }}</p>
                    </td>
                    <td>
                      <p class="mb-0">{{ application.appliedAt }}</p>
                    </td>
                    <td>
                      <p class="mb-0">{{ application.address }}</p>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span
                          class="p-1 rounded-circle me-2"
                          [ngClass]="{
                            'text-bg-secondary': application.status === 0,
                            'text-bg-info': application.status === 1,
                            'text-bg-success': application.status === 2,
                            'text-bg-danger': application.status === 3
                          }"
                          style="width: 10px; height: 10px;"
                        ></span>

                        <p class="mb-0">
                          {{
                            application.status === 0 ? 'Chưa xem' :
                            application.status === 1 ? 'Đã xem' :
                            application.status === 2 ? 'Đã duyệt CV' :
                            application.status === 3 ? 'Đã từ chối CV' :
                            'Không xác định'
                          }}
                        </p>
                      </div>

                    </td>
                    <td>
                      <!-- <a class="fs-6 text-muted" href="javascript:void(0)" style="margin-right: 18px;">
                            <i class="fa-solid fa-pen-to-square" (click)="editUser(user.id, user.status, user.username)" pTooltip="Click để chỉnh sửa" tooltipPosition="top"></i>
                          </a>
                          <a *ngIf="user.userType === 1" class="fs-6 text-muted" [routerLink]="['/seeker-details', user.id]" pTooltip="Xem chi tiết thông tin người xin việc" tooltipPosition="top">
                            <i class="fa-solid fa-eye"></i>
                          </a>
                          <a *ngIf="user.userType === 2" class="fs-6 text-muted" [routerLink]="['/employer-details', user.id]" pTooltip="Xem chi tiết thông tin nhà tuyển dụng" tooltipPosition="top">
                            <i class="fa-solid fa-eye"></i>
                          </a> -->
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex align-items-center justify-content-end py-1">
                <p class="mb-0 fs-2">Số hàng mỗi trang:</p>
                <select class="form-select w-auto ms-2 me-4 py-1 pe-7 ps-2 border-0" [(ngModel)]="pageSize"
                  (ngModelChange)="onPageSizeChange()">
                  <option [value]="5">5</option>
                  <option [value]="10">10</option>
                  <option [value]="25">25</option>
                </select>
                <p class="mb-0 fs-2">{{ pageInfo }}</p>
                <nav aria-label="pagination">
                  <ul class="pagination justify-content-center mb-0 ms-9">
                    <li class="page-item p-1" [class.disabled]="currentPage === 1">
                      <a class="page-link border-0 rounded-circle text-dark fs-6 round-32 d-flex align-items-center justify-content-center"
                        href="javascript:void(0)" (click)="onPageChange(currentPage - 1)">
                        <i class="fa-solid fa-arrow-left"></i>
                      </a>
                    </li>
                    <li class="page-item p-1" [class.disabled]="currentPage === totalPages">
                      <a class="page-link border-0 rounded-circle text-dark fs-6 round-32 d-flex align-items-center justify-content-center"
                        href="javascript:void(0)" (click)="onPageChange(currentPage + 1)">
                        <i class="fa-solid fa-arrow-right"></i>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-bills" role="tabpanel" aria-labelledby="pills-bills-tab" tabindex="0">
        <div class="row justify-content-center">
        
          <div class="col-lg-9">
            <div *ngIf="!userMembership" class="mb-5">
              <h3>User chưa đăng kí gói cước nào</h3>
            </div>
                <div *ngIf="currentPlan && userMembership?.status" class="mb-5">
                  <div class="rts__section__content text-md-start text-sm-center">
                    
                      <div class="card p-4">
                          <h5 class="mb-3">{{ currentPlan.name }}</h5>
                          <p><strong>Giá:</strong> {{ currentPlan.price | number:'1.0-0' }} VNĐ/{{ currentPlan.duration === 'MONTHLY' ? 'Tháng' : 'Năm' }}</p>
                          <p><strong>Ngày bắt đầu:</strong> {{ userMembership.startDate | date:'dd/MM/yyyy' }}</p>
                          <p><strong>Ngày kết thúc:</strong> {{ userMembership.endDate | date:'dd/MM/yyyy' }}</p>
                          <p><strong>Ngày gia hạn:</strong> {{ userMembership.renewalDate | date:'dd/MM/yyyy' }}</p>
                          <p><strong>Mô tả:</strong></p>
                          <ul>
                              <li *ngFor="let feature of currentPlan.description.split(',')">
                                  {{ feature.trim() }}
                              </li>
                          </ul>
                      
                      </div>
                  </div>
             
                </div>
                
          </div>
         
          <div class="col-12">
            <div class="d-flex align-items-center justify-content-end gap-6">
              <button class="btn btn-primary">Save</button>
              <button class="btn bg-danger-subtle text-danger">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-security" role="tabpanel" aria-labelledby="pills-security-tab" tabindex="0">
        <div class="row">
          <div class="col-lg-8">
            <div class="card border shadow-none">
              <div class="card-body p-4">
                <h4 class="card-title mb-3">Two-factor Authentication</h4>
                <div class="d-flex align-items-center justify-content-between pb-7">
                  <p class="card-subtitle mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis
                    sapiente
                    sunt earum officiis laboriosam ut.</p>
                  <button class="btn btn-primary">Enable</button>
                </div>
                <div class="d-flex align-items-center justify-content-between py-3 border-top">
                  <div>
                    <h5 class="fs-4 fw-semibold mb-0">Authentication App</h5>
                    <p class="mb-0">Google auth app</p>
                  </div>
                  <button class="btn bg-primary-subtle text-primary">Setup</button>
                </div>
                <div class="d-flex align-items-center justify-content-between py-3 border-top">
                  <div>
                    <h5 class="fs-4 fw-semibold mb-0">Another e-mail</h5>
                    <p class="mb-0">E-mail to send verification link</p>
                  </div>
                  <button class="btn bg-primary-subtle text-primary">Setup</button>
                </div>
                <div class="d-flex align-items-center justify-content-between py-3 border-top">
                  <div>
                    <h5 class="fs-4 fw-semibold mb-0">SMS Recovery</h5>
                    <p class="mb-0">Your phone number or something</p>
                  </div>
                  <button class="btn bg-primary-subtle text-primary">Setup</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body p-4">
                <div class="text-bg-light rounded-1 p-6 d-inline-flex align-items-center justify-content-center mb-3">
                  <i class="ti ti-device-laptop text-primary d-block fs-7" width="22" height="22"></i>
                </div>
                <h4 class="card-title mb-0">Devices</h4>
                <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit Rem.</p>
                <button class="btn btn-primary mb-4">Sign out from all devices</button>
                <div class="d-flex align-items-center justify-content-between py-3 border-bottom">
                  <div class="d-flex align-items-center gap-3">
                    <i class="ti ti-device-mobile text-dark d-block fs-7" width="26" height="26"></i>
                    <div>
                      <h5 class="fs-4 fw-semibold mb-0">iPhone 14</h5>
                      <p class="mb-0">London UK, Oct 23 at 1:15 AM</p>
                    </div>
                  </div>
                  <a class="text-dark fs-6 d-flex align-items-center justify-content-center bg-transparent p-2 fs-4 rounded-circle"
                    href="javascript:void(0)">
                    <i class="ti ti-dots-vertical"></i>
                  </a>
                </div>
                <div class="d-flex align-items-center justify-content-between py-3">
                  <div class="d-flex align-items-center gap-3">
                    <i class="ti ti-device-laptop text-dark d-block fs-7" width="26" height="26"></i>
                    <div>
                      <h5 class="fs-4 fw-semibold mb-0">Macbook Air</h5>
                      <p class="mb-0">Gujarat India, Oct 24 at 3:15 AM</p>
                    </div>
                  </div>
                  <a class="text-dark fs-6 d-flex align-items-center justify-content-center bg-transparent p-2 fs-4 rounded-circle"
                    href="javascript:void(0)">
                    <i class="ti ti-dots-vertical"></i>
                  </a>
                </div>
                <button class="btn bg-primary-subtle text-primary w-100 py-1">Need Help ?</button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex align-items-center justify-content-end gap-6">
              <button class="btn btn-primary">Save</button>
              <button class="btn bg-danger-subtle text-danger">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-danger p-3 rounded-circle d-flex align-items-center justify-content-center customizer-btn"
  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  <i class="icon ti ti-settings fs-7"></i>
</button>

<div class="offcanvas customizer offcanvas-end" tabindex="-1" id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel">
  <div class="d-flex align-items-center justify-content-between p-3 border-bottom">
    <h4 class="offcanvas-title fw-semibold" id="offcanvasExampleLabel">
      Settings
    </h4>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" data-simplebar style="height: calc(100vh - 80px)">
    <h6 class="fw-semibold fs-4 mb-2">Theme</h6>

    <div class="d-flex flex-row gap-3 customizer-box" role="group">
      <input type="radio" class="btn-check light-layout" name="theme-layout" id="light-layout" autocomplete="off" />
      <label class="btn p-9 btn-outline-primary rounded-2" for="light-layout">
        <i class="icon ti ti-brightness-up fs-7 me-2"></i>Light
      </label>

      <input type="radio" class="btn-check dark-layout" name="theme-layout" id="dark-layout" autocomplete="off" />
      <label class="btn p-9 btn-outline-primary rounded-2" for="dark-layout">
        <i class="icon ti ti-moon fs-7 me-2"></i>Dark
      </label>
    </div>

    <h6 class="mt-5 fw-semibold fs-4 mb-2">Theme Direction</h6>
    <div class="d-flex flex-row gap-3 customizer-box" role="group">
      <input type="radio" class="btn-check" name="direction-l" id="ltr-layout" autocomplete="off" />
      <label class="btn p-9 btn-outline-primary rounded-2" for="ltr-layout">
        <i class="icon ti ti-text-direction-ltr fs-7 me-2"></i>LTR
      </label>

      <input type="radio" class="btn-check" name="direction-l" id="rtl-layout" autocomplete="off" />
      <label class="btn p-9 btn-outline-primary rounded-2" for="rtl-layout">
        <i class="icon ti ti-text-direction-rtl fs-7 me-2"></i>RTL
      </label>
    </div>

    <h6 class="mt-5 fw-semibold fs-4 mb-2">Theme Colors</h6>

    <div class="d-flex flex-row flex-wrap gap-3 customizer-box color-pallete" role="group">
      <input type="radio" class="btn-check" name="color-theme-layout" id="Blue_Theme" autocomplete="off" />
      <label class="btn p-9 btn-outline-primary rounded-2 d-flex align-items-center justify-content-center"
        onclick="handleColorTheme('Blue_Theme')" for="Blue_Theme" data-bs-toggle="tooltip" data-bs-placement="top"
        data-bs-title="BLUE_THEME">
        <div class="color-box rounded-circle d-flex align-items-center justify-content-center skin-1">
          <i class="ti ti-check text-white d-flex icon fs-5"></i>
        </div>
      </label>

      <input type="radio" class="btn-check" name="color-theme-layout" id="Aqua_Theme" autocomplete="off" />
      <label class="btn p-9 btn-outline-primary rounded-2 d-flex align-items-center justify-content-center"
        onclick="handleColorTheme('Aqua_Theme')" for="Aqua_Theme" data-bs-toggle="tooltip" data-bs-placement="top"
        data-bs-title="AQUA_THEME">
        <div class="color-box rounded-circle d-flex align-items-center justify-content-center skin-2">
          <i class="ti ti-check text-white d-flex icon fs-5"></i>
        </div>
      </label>

      <input type="radio" class="btn-check" name="color-theme-layout" id="Purple_Theme" autocomplete="off" />
      <label class="btn p-9 btn-outline-primary rounded-2 d-flex align-items-center justify-content-center"
        onclick="handleColorTheme('Purple_Theme')" for="Purple_Theme" data-bs-toggle="tooltip" data-bs-placement="top"
        data-bs-title="PURPLE_THEME">
        <div class="color-box rounded-circle d-flex align-items-center justify-content-center skin-3">
          <i class="ti ti-check text-white d-flex icon fs-5"></i>
        </div>
      </label>

      <input type="radio" class="btn-check" name="color-theme-layout" id="green-theme-layout" autocomplete="off" />
      <label class="btn p-9 btn-outline-primary rounded-2 d-flex align-items-center justify-content-center"
        onclick="handleColorTheme('Green_Theme')" for="green-theme-layout" data-bs-toggle="tooltip"
        data-bs-placement="top" data-bs-title="GREEN_THEME">
        <div class="color-box rounded-circle d-flex align-items-center justify-content-center skin-4">
          <i class="ti ti-check text-white d-flex icon fs-5"></i>
        </div>
      </label>

      <input type="radio" class="btn-check" name="color-theme-layout" id="cyan-theme-layout" autocomplete="off" />
      <label class="btn p-9 btn-outline-primary rounded-2 d-flex align-items-center justify-content-center"
        onclick="handleColorTheme('Cyan_Theme')" for="cyan-theme-layout" data-bs-toggle="tooltip"
        data-bs-placement="top" data-bs-title="CYAN_THEME">
        <div class="color-box rounded-circle d-flex align-items-center justify-content-center skin-5">
          <i class="ti ti-check text-white d-flex icon fs-5"></i>
        </div>
      </label>

      <input type="radio" class="btn-check" name="color-theme-layout" id="orange-theme-layout" autocomplete="off" />
      <label class="btn p-9 btn-outline-primary rounded-2 d-flex align-items-center justify-content-center"
        onclick="handleColorTheme('Orange_Theme')" for="orange-theme-layout" data-bs-toggle="tooltip"
        data-bs-placement="top" data-bs-title="ORANGE_THEME">
        <div class="color-box rounded-circle d-flex align-items-center justify-content-center skin-6">
          <i class="ti ti-check text-white d-flex icon fs-5"></i>
        </div>
      </label>
    </div>

    <h6 class="mt-5 fw-semibold fs-4 mb-2">Layout Type</h6>
    <div class="d-flex flex-row gap-3 customizer-box" role="group">
      <div>
        <input type="radio" class="btn-check" name="page-layout" id="vertical-layout" autocomplete="off" />
        <label class="btn p-9 btn-outline-primary rounded-2" for="vertical-layout">
          <i class="icon ti ti-layout-sidebar-right fs-7 me-2"></i>Vertical
        </label>
      </div>
      <div>
        <input type="radio" class="btn-check" name="page-layout" id="horizontal-layout" autocomplete="off" />
        <label class="btn p-9 btn-outline-primary rounded-2" for="horizontal-layout">
          <i class="icon ti ti-layout-navbar fs-7 me-2"></i>Horizontal
        </label>
      </div>
    </div>

    <h6 class="mt-5 fw-semibold fs-4 mb-2">Container Option</h6>

    <div class="d-flex flex-row gap-3 customizer-box" role="group">
      <input type="radio" class="btn-check" name="layout" id="boxed-layout" autocomplete="off" />
      <label class="btn p-9 btn-outline-primary rounded-2" for="boxed-layout">
        <i class="icon ti ti-layout-distribute-vertical fs-7 me-2"></i>Boxed
      </label>

      <input type="radio" class="btn-check" name="layout" id="full-layout" autocomplete="off" />
      <label class="btn p-9 btn-outline-primary rounded-2" for="full-layout">
        <i class="icon ti ti-layout-distribute-horizontal fs-7 me-2"></i>Full
      </label>
    </div>

    <h6 class="fw-semibold fs-4 mb-2 mt-5">Sidebar Type</h6>
    <div class="d-flex flex-row gap-3 customizer-box" role="group">
      <a href="javascript:void(0)" class="fullsidebar">
        <input type="radio" class="btn-check" name="sidebar-type" id="full-sidebar" autocomplete="off" />
        <label class="btn p-9 btn-outline-primary rounded-2" for="full-sidebar">
          <i class="icon ti ti-layout-sidebar-right fs-7 me-2"></i>Full
        </label>
      </a>
      <div>
        <input type="radio" class="btn-check" name="sidebar-type" id="mini-sidebar" autocomplete="off" />
        <label class="btn p-9 btn-outline-primary rounded-2" for="mini-sidebar">
          <i class="icon ti ti-layout-sidebar fs-7 me-2"></i>Collapse
        </label>
      </div>
    </div>

    <h6 class="mt-5 fw-semibold fs-4 mb-2">Card With</h6>

    <div class="d-flex flex-row gap-3 customizer-box" role="group">
      <input type="radio" class="btn-check" name="card-layout" id="card-with-border" autocomplete="off" />
      <label class="btn p-9 btn-outline-primary rounded-2" for="card-with-border">
        <i class="icon ti ti-border-outer fs-7 me-2"></i>Border
      </label>

      <input type="radio" class="btn-check" name="card-layout" id="card-without-border" autocomplete="off" />
      <label class="btn p-9 btn-outline-primary rounded-2" for="card-without-border">
        <i class="icon ti ti-border-none fs-7 me-2"></i>Shadow
      </label>
    </div>
  </div>
</div>